@charset "UTF-8";
@media (max-width: 1025px) {
	#sticker-sticky-wrapper {
		display: none;
	}
	.mask{
		display: none;
	}
	.content{
		padding: 0;
	}
	.container-fluid.first-content {
		padding-top: 70px !important;
	}
	.ymages{
		display: none !important;
	}
	.company{
		display: block !important;
		width: 100%;
	}
	.ciele{
		display: none !important;
	}
	.icon_texts{
		display: block;
	}
	
	.hyatus{
		margin: 0px 0px 0px 0px !important;
	}
	.zabezpecime{
		width: 100%;
		margin: 0;
	}
	p {
		padding: 2vh 5vw 2vh 5vw !important;
		font-size: 15px;
		text-align: justify;
	}
	h1 {
		font-size: 2em !important;
		padding: 0 0 0 10px;
	}
	h2 {
		font-size: 1.4em !important;
	}
	h1.title {
		font-size: 2em;
		text-align: left;
	}
	.fix {
		height: 70px !important;
	}
	.fa-3x {
		font-size: 2em !important;
	}
	.phone {
		top: 20px !important;
		right: 20px !important;
	}
	.slidebutt {
		font-size: 1.5em !important;
	}
	#testimonials-ul h2 {
		display: none !important;
	}
	.sep {
		display: none !important;
	}
	.bg-slideone {
		padding: 0 !important;
	}
	.max-w {
		width: 100%;
	}
	footer {
		display: none;
	}
	text.counter {
		line-height: 3;
	}
	.testimonials ul li p {
		margin: 0 !important;
		font-size: 1em !important;
	}
	.selectarrow {
		margin-top: 0px !important;
	}
	.hauptmenu {
		top: 20px !important;
		left: 20px !important;
	}
	.small-call {
		display: block !important;
		z-index: 999;
	}
	.big-call {
		display: none !important;
	}
	.nivo-caption{
		width: 100% !important;
	}
	.offer{
	height: auto !important;
	}
	.col-xs-3.location{
	width: 100% !important;
	}
	.col-xs-5.text{
	width: 100% !important;
	}
	.house{
	display: none;
	}

	.obrazok img{
		width: 112% !important;
	}
	img{
		
		width: 100% !important;
	}
	#myBtn{
		font-size: 20px !important;
		padding: 0px 10px 5px 10px !important;
	}
	#myBtn:hover{
		padding: 5px 10px 10px 20px !important;
	}
	.menu-item{
		padding: 0 !important; 
		font-size: 13px !important;
		font-weight: bolder !important;
	}
	.sticky{
		padding-right: 5px !important;
	}
	.menu a{
		margin-right: 10px;
		margin-left: 10px
	}
	.stavba img{
		width: 100% !important
	}
	iframe{
		width: 100%
	}
	.fa-5x{
		font-size: 3em !important;
		display: block
	}
	.kontakt{
		display: none;
	}
	.velke{
		display: none;
	}
	.mobil-menu{
		display: block;
	}
	#sticky {
		padding: 0.5ex;
		width: 50px;
		background-color: #333333;
		color: #F7931E;
		font-size: 1.5em;
		border-radius: 0ex;
	}

	#sticky.stick {
		margin-top: 0 !important;
		position: fixed;
		top: 5px;
		z-index: 10000;
	}
	.fa-bars {
		background-color: #4CAF50;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		cursor: pointer;
	}

	.fa-bars:hover, .fa-bars:focus {
		background-color: #3e8e41;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: fixed;
		background-color: #f9f9f9;
		min-width: 160px;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown a:hover {background-color: #f1f1f1}

	.show {display:block;}
	}